APP_ROOT=/var/www/graymentality
MAIN_DOMAIN_URL=https://www.graymentality.ca
LOGIN_URL=https://www.graymentality.ca/login
XFIT_URL=https://xfit.graymentality.ca
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=graymentality_landing
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4
