APP_ROOT=/var/www/html
MAIN_DOMAIN_URL=http://localhost:8088
LOGIN_URL=http://localhost:8080/login
XFIT_URL=http://localhost:8080
DB_HOST=db
DB_PORT=3306
DB_NAME=graymentality_landing
DB_USER=graymentality
DB_PASS=graymentality
DB_ROOT_PASSWORD=root
WEB_PORT=8088
PMA_PORT=8090
DB_CHARSET=utf8mb4
APP_ENV=development
